{{ attach_library('triune/order') }}
<div {{ attributes }}>
  	
  <header class="app-header">
		<div class="header-title">
			<h2>Active Orders</h2>
		</div>
    {% if variables.place_orders %}
		<div class="app-links">
			<a href="/triune/order/add"><i class="fas fa-plus-circle">&nbsp;</i> Add an Order</a>
		</div>
    {% endif %}
	</header>
  
  <div id="block-projectdashboardtabs" class="contextual-region">
	  <ul class="report-tabs">
      <li><a href="/triune/order/list/open">New Orders</a></li>
      <li><a href="/triune/order/list/active" class="is-active">Active Orders</a></li>
      <li><a href="/triune/order/list/complete">Complete Orders</a></li>
    </ul>
  </div>
  
  <form class="views-exposed-form" id="form-filter-order-list-active" action="/triune/order/list/active" method="get" accept-charset="UTF-8">
    <div class="form--inline clearfix">
      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-order-id form-item-order-id">
        <label for="edit-order-id">Order ID</label>
        <input data-drupal-selector="edit-order-id" type="number" id="edit-order-id" name="order-id" value="{{ variables.condition.order_id }}" size="30" maxlength="128" class="form-text">
      </div>
      <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-customer form-item-customer">
        <label for="edit-customer">Customer</label>
        <select data-drupal-selector="edit-customer" id="edit-customer" name="customer" class="form-select">
          <option value="0"{% if variables.condition.customer_id == 0 %} selected="selected"{% endif %}>- Any -</option>
          {% for customer in variables.customers %}
          <option value="{{ customer.id }}"{% if variables.condition.customer_id == customer.id %} selected="selected"{% endif %}>{{ customer.label }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-date form-item-date">
        <label for="edit-date">Date</label>
        <input type="date" id="edit-date" name="date" value="{{ variables.input_date }}"></input>
      </div>
      <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-shift form-item-shift">
        <label for="edit-shift">Shift</label>
        <select data-drupal-selector="edit-shift" id="edit-shift" name="shift" class="form-select">
          <option value="0"{% if variables.condition.shift == '0' %} selected="selected"{% endif %}>- Any -</option>
          <option value="1"{% if variables.condition.shift == '1' %} selected="selected"{% endif %}>1st Shift</option>
          <option value="2"{% if variables.condition.shift == '2' %} selected="selected"{% endif %}>2nd Shift</option>
          <option value="3"{% if variables.condition.shift == '3' %} selected="selected"{% endif %}>3rd Shift</option>
        </select>
      </div>
      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
        <input data-drupal-selector="edit-submit-content" type="submit" id="edit-submit-content" value="Filter" class="button js-form-submit form-submit">
        <input data-drupal-selector="edit-reset" type="submit" id="edit-reset" name="op" value="Reset" class="button js-form-submit form-submit">
      </div>
    </div>
  </form>

  <table id="msortTable" class="tablesorter" data-sorting="true">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Customer</th>
        <th scope="col" class="min-col">Date Required</th>
        <th scope="col">Shift</th>
        <th scope="col">Start Time</th>
        <th scope="col">Depart Time</th>
        <th scope="col">Attendance</th>
        <th scope="col">Origination</th>
        <th scope="col" class="min-col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for order in order_list.active %}
    <tr>
      <td>{{ order.id.value }}</td>
      <td>{{ order.customer.label.value }}</td>
      <td class="min-col">{{ order.date.value|date("M d, Y") }}</td>
      <td>{{ order.shift.value }}</td>
      <td>{{ order.start_time }}</td>
      <td>{{ order.depart_time }}</td>
      <td>{{ order.fill }}/{{ order.quantity.value }}</td>
      <td>{{ order.user.name.value }}</td>
      <td class="min-col"><a href="/triune/order/{{ order.id.value }}/view"><i class="far fa-eye">&nbsp;</i> View</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  
  {% if variables.page != 0 %}
  <a href="/triune/order/list?{{ variables.queries }}page={{ variables.last }}">Last</a>
  {% endif %}
  {% if not variables.max %}
  <a href="/triune/order/list?{{ variables.queries }}page={{ variables.next }}">Next</a>
  {% endif %}
</div>