<div class="app-info">
  <div class="ai-sec01">
    <strong>ID#:</strong> {{ order.id.value }}<br>
    <strong>Customer:</strong> {{ order.customer }}<br>
    <strong>Date:</strong> {{ order.date.value|date("M d, Y") }}<br>
    <strong>Shift:</strong> {{ order.shift.value }}<br>
  </div>
</div>

<form class="order-form" action="/triune/order/{{ order.id.value }}/edit" method="post" id="order-form" accept-charset="UTF-8" {{ form.attributes }}>

  <div style="display:none">
  {{ form.customer_id }}
  {{ form.date }}
  {{ form.shift }}
  </div>
  {{ form.label }}
  {{ form.office_id }}
  {{ form.quantity }}
  {{ form.start }} {{ form.end }} {{ form.depart }}
  {{ form.position }}
  {{ form.pay_rate }}
  {{ form.driver }}
  {{ form.notes }}
  
  <div class="config-row buttons">
    <div class="button-back"><a href="/triune/order/{{ order.id.value }}/view" class="button form-submit">Cancel</a></div>
    <div class="app-button">{{ form.submit }}</div>
  </div>
  
  {{ form.actions.submit }}
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
</form>