{{ attach_library('triune/order') }}
<script>
  confirmation = function() {
    return confirm("Are you sure you want to delete order?");
  }
</script>
<div {{ attributes }}>
  
  <div class="app-info">
		<div class="ai-sec01">
			<strong class="tl-blue">New Order</strong><br>
			<strong>Label:</strong> {{ order.label.value }}<br>
			<strong>Customer:</strong> {{ order.customer.label.value }}<br>
      <strong>Address:</strong> {{ order.customer.address.value }}<br>
      <strong>Driver:</strong> {{ order.driver }}
    </div>
		<div class="ai-sec02">
      <strong class="tl-blue">ID#:</strong> {{ order.id.value }}<br>
			<strong>Date:</strong> {{ order.date.value|date("M d, Y") }}<br>
			<strong>Time:</strong> {{ order.start_time }} - {{ order.end_time }}<br>
      <strong>Shift:</strong> {{ order.shift.value }}<br>
      {% if order.pay_rate.value %}
      <strong>Pay Rate:</strong> $ {{ order.pay_rate.value|number_format(2, '.', ',') }}
      {% endif %}
    </div>

{# Displays Supervisor Details based on shifts #}
    <div class="ai-sec04">
      <strong class="tl-blue">
        Supervisor Details
      </strong><br>
      {% if order.shift.value == 1 %}
        <strong>Name: {{ order.customer.s1_name.value }}</strong><br/>
        <strong>Phone: {{ order.customer.s1_phone.value }}</strong><br/>
        <strong>Email: {{ order.s1_email }}</strong><br/>
      {% elseif order.shift.value == 2 %}
        <strong>Name: {{ order.customer.s2_name.value }}</strong><br/>
        <strong>Phone: {{ order.customer.s2_phone.value }}</strong><br/>
        <strong>Email: {{ order.s2_email }}</strong><br/>
      {% else %}
        <strong>Name: {{ order.customer.s3_name.value }}</strong><br/>
        <strong>Phone: {{ order.customer.s3_phone.value }}</strong><br/>
        <strong>Email: {{ order.s3_email }}</strong><br/>
      {% endif %}
    </div>
    {% set notes = order.notes_value|trim %}
    {% if notes|length %}
    <div class="ai-sec03">
      <div class="note-block">
        <strong>Notes:</strong>
        <p>{{ notes }}</p>
      </div>
    </div>
    {% else %}
    <div class="ai-sec03">&nbsp;</div>
    {% endif %}
  </div>
	
  <header class="app-header">
		<div class="header-title">
			<h2>Resources</h2>
		</div>
		<div class="app-links">
			<a href="/triune/order/{{ order.id.value }}/employee/add-all"><i class="fas fa-plus-circle">&nbsp;</i> Add Resources</a>
			<a href="/triune/order/{{ order.id.value }}/edit"><i class="fas fa-edit">&nbsp;</i> Edit Order</a>
			<a href="/triune/order/{{ order.id.value }}/update/active"><i class="fas fa-sync-alt">&nbsp;</i> Activate</a>
		</div>
	</header>
  
  <table id="msortTable0" class="tablesorter" data-sorting="true">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Phone #</th>
        <th scope="col">Office</th>
        <th scope="col">Job</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for i in 1..order.quantity.value %}
      {% set j = i-1 %}
      {% if variables.employee_list[j] %}
      {% set employee = variables.employee_list[j] %}
      <tr>
        <td>{{ i }}</td>
        <td>{{ employee.resource_id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.office }}</td>
        <td>{{ employee.job }}</td>
        <td>
					<a href="/triune/order/{{ order.id.value }}/employee/{{ employee.id }}/delete"><i class="fas fa-user-minus">&nbsp;</i> Unassign</a>
				</td>
      </tr>
      {% else %}
      <tr>
        <td>{{ i }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  <div class="config-row buttons">
    <div class="button-back"><a href="/triune/order/list/open" class="button form-submit">Return</a></div>
    <div class="app-button app-links"><a href="/triune/order/{{ order.id.value }}/delete" onclick="return confirmation()"><i class="fas fa-minus-circle">&nbsp;</i> Delete Order</a></div>
  </div>
</div>